<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.UsersCrud">

        <!-- Listado de usuarios (pantalla principal) -->
        <activity
            android:name=".controllers.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Formulario de creación / edición -->
        <activity
            android:name=".controllers.UserFormActivity"
            android:parentActivityName=".controllers.MainActivity"
            android:exported="false" />

        <!-- Detalle de un usuario -->
        <activity
            android:name=".controllers.UserDetailActivity"
            android:parentActivityName=".controllers.MainActivity"
            android:exported="false" />

    </application>

</manifest>
